<!--partial used for posts displayed on homepage-->
<section class="card" style="border: 1px solid black">
    <a href="/post/{{id}}">
        <h3>{{title}}</h3>
        <p>{{content}}</p>
    </a>
</section>