<!--partial used for comments displayed under post-->
<section class="comment-card">
    <p class="comment-author">Posted by {{user.username}} on {{formatDate createdAt}}</p>
    <p class="comment">{{comment_text}}</p>
</section>