<!--partial used for comments displayed under post-->
<section class="comment" style="border: 1px solid black">
  <p>{{comment_text}}</p>
  <p>Posted by user {{user.username}} on {{formatDate createdAt}}</p>
</section>