<!--partial used for posts displayed on dashboard-->
<section class="card">
    <a href="/post/{{id}}">
        <div class="post-header">
            <h2>{{title}}</h2>
            <p>Posted on {{formatDate createdAt}}</p>
        </div>
        <p class="text">{{content}}</p>
    </a>
</section>