<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Login</a>
        <a href="/" id="logout">Logout</a>
    </nav>

    <main>
        <h1>The Tech Blog</h1>
        <section class="card">
            <a href="/post/{{id}}">
                <div class="post-header">
                    <h2>Title of the Post</h2>
                    <p>Posted by user <b>user2000</b> on <b>07Jul2024</b></p>
                </div>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis neque quis eleifend porttitor. Curabitur at tortor aliquam, ornare lacus sed, feugiat dui. Suspendisse dignissim dictum orci ut imperdiet. Donec cursus enim nec quam rutrum pulvinar. Quisque quis quam non velit facilisis tincidunt. Vivamus vel libero ut odio faucibus semper eu eu turpis. Suspendisse pulvinar nec risus sit amet volutpat. Ut elit quam, molestie in commodo ut, blandit sed nisl. Nam posuere nec est nec consequat. Nunc nibh quam, tempus at vulputate ac, tincidunt eu lectus. Etiam eleifend luctus suscipit. Duis pretium lacinia venenatis. Curabitur a lobortis purus. Curabitur ante tortor, sollicitudin nec tempus at, vulputate vel ligula. Nunc turpis mi, ultrices in dui sed, vehicula semper elit. Nullam lobortis nulla lectus, eget tincidunt nunc dapibus id.</p>
            </a>
        </section>
        <section class="card">
            <a href="/post/{{id}}">
                <div class="post-header">
                    <h2>Title of the Post</h2>
                    <p>Posted by user <b>user2000</b> on <b>07Jul2024</b></p>
                </div>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis neque quis eleifend porttitor. Curabitur at tortor aliquam, ornare lacus sed, feugiat dui. Suspendisse dignissim dictum orci ut imperdiet. Donec cursus enim nec quam rutrum pulvinar. Quisque quis quam non velit facilisis tincidunt. Vivamus vel libero ut odio faucibus semper eu eu turpis. Suspendisse pulvinar nec risus sit amet volutpat. Ut elit quam, molestie in commodo ut, blandit sed nisl. Nam posuere nec est nec consequat. Nunc nibh quam, tempus at vulputate ac, tincidunt eu lectus. Etiam eleifend luctus suscipit. Duis pretium lacinia venenatis. Curabitur a lobortis purus. Curabitur ante tortor, sollicitudin nec tempus at, vulputate vel ligula. Nunc turpis mi, ultrices in dui sed, vehicula semper elit. Nullam lobortis nulla lectus, eget tincidunt nunc dapibus id.</p>
            </a>
        </section>

    </main>


  <script src="/js/logout.js"></script>

    
</body>
</html>