<h1>Your Dashboard</h1>
<div>
    <form class="new-post-form">
    <div>
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-title" />
    </div>
    <div>
        <label for="post-content">Write Here</label>
        <input class="form-input" type="text" id="post-content" />
    </div>
    <div>
        <button class="btn" type="submit">Submit</button>
    </div>
    </form>
</div>

<script src="/js/new-post.js"></script>