<section class="card" style="border: 1px solid black">
    {{!-- <a href="/post/{{id}}">...</a> --}}
        <h3>{{post.title}}</h3>
        <p>{{post.content}}</p>
</section>

<div>
    <form class="new-comment-form">
    <div>
        <label for="comment-content">Comment Here</label>
        <input class="form-input" type="text" id="comment-content" />
    </div>
    <div>
        <button class="btn" type="submit">Submit</button>
    </div>
    </form>
</div>

<script src="/js/new-comment.js"></script>