<!--display a single post-->
<section class="card" style="border: 1px solid black">
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <p>Author: {{post.user.username}}</p>
</section>


<!--set up each statement to display all comments for the post-->
<section>
    <h2>Comments:</h2>
    {{#each post.comments}}
    {{> comment-details}}
    {{/each}}
</section>


<!--form to submit a new comment-->
{{#if loggedIn}}
    <div>
        <form class="new-comment-form">
            <textarea id="comment-text" required></textarea>
            <button type="submit">Submit Comment</button>
        </form>
    </div>
{{/if}}

<script src="/js/new-comment.js"></script>