* {
    font-family:Arial, Helvetica, sans-serif
}

/* NAVIGATION */
nav {
    background-color: #3d3c3c;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}
  
nav a {
float: left;
color:  rgb(219, 234, 243);
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
}

a {
    color: inherit; /* removes blue colors for links */
    text-decoration: inherit; /* no underline */
  }

/*BODY*/
body {
    background-color: aliceblue;
}

/*PAGE TITLE*/
h1 {
    color: #3d3c3c;
    margin-left: 10px;
    font-size: 50px;
}


  /*POST CARD*/
.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border: 1px, solid, #3d3c3c;  
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  rgb(219, 234, 243);
    background-color:#3d3c3c
}

.post-header h2 {
    margin: 10px;
    font-size: 30px;
}

.post-header p {
    margin: 10px;
}

.text {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

/*COMMENTS*/
.comment-card {
    border: 1px, solid, #3d3c3c;  
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  rgb(219, 234, 243);
    background-color:#3d3c3c
}

.comment-header h2 {
    margin: 10px;
    font-size: 25px;
}

.comment-author {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-style: italic;
}

.comment {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

/*FORMS*/
#comment-text {
    margin-top: 10px;
    width: 100%;
    height: 100px;
}

.post-form-card {
    margin: 10px;
    font-size: 25px;
    border: 1px solid #3d3c3c;
}

.new-post-form {
    margin: 20px;
}

#post-title {
    width: 100%;
    height: 25px;
}

#post-content {
    margin-top: 10px;
    width: 100%;
    height: 100px;
}

.new-post-form-title {
    font-size: 20px !important;
}


/*SUBMIT BUTTONS*/
button {
    background-color:#3d3c3c;
    border: none;
    color:aliceblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}